<div class="login-div">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style="padding:35px 50px;">
				<h1><span class="fa fa-lock"></span> Đăng nhập</h1>
			</div>
			<div class="modal-body" style="padding:40px 50px;">
				<!--<div class="form-group">-->
				<!--<label for="username"><span class="fa fa-user"></span> Username</label>-->
				<!--<input type="text" class="form-control" id="username" [(ngModel)]="LoginModel.Username"-->
				<!--placeholder="Enter email">-->
				<!--</div>-->
				<!--<div class="form-group">-->
				<!--<label for="password"><span class="fa fa-key"></span> Password</label>-->
				<!--<input type="password" (keyup.enter)="SignIn()" class="form-control" id="password"-->
				<!--[(ngModel)]="LoginModel.Password"-->
				<!--placeholder="Enter password">-->
				<!--</div>-->
				<!--<div class="checkbox">-->
				<!--<label><input type="checkbox" value="" checked>Remember me</label>-->
				<!--</div>-->
				<div class="form-group">
					<label><span class="fa fa-user"></span> Bạn cần đăng nhập vào hệ thống bằng tài khoản google để
						tiếp tục</label>
					<!--<input type="text" class="form-control" id="username" [(ngModel)]="LoginModel.Username"-->
					<!--placeholder="Enter email">-->
				</div>
				<button class="btn btn-success btn-block" (click)="SignIn()"><span class="fa fa-sign-in"></span> Đăng nhập
				</button>
			</div>
		</div>
	</div>
</div>
