.custom-checkbox {
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	padding: 3px;
	margin-right: 20px;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
	display: none;
}

/* Create a custom checkbox */
.checkmark {
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	border-radius: 3px;
	background-color: #ccc;
	position: absolute;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
	left: 5px;
	top: 1px;
	width: 6px;
	height: 11px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
