<div>
	<div class="row">
		<div class="caption">
			<span>Lịch sử giao dịch</span>
		</div>
	</div>
	<div class="row">
		<table class="table table-bordered">
			<thead style="white-space: nowrap">
			<tr>
				<th>#</th>
				<th>Mã giao dịch</th>
				<th>Đường dẫn File</th>
				<th>Thời gian thực hiện</th>
				<!--<th>Tùy chọn</th>-->
			</tr>
			</thead>
			<tbody>
			<!--<tr>-->
			<!--<td></td>-->
			<!--<td>-->
			<!--<input class="form-control" [(ngModel)]="SearchCityEntity.Code" type="text" placeholder="Search..."-->
			<!--(keydown.enter)="Search(SearchCityEntity)">-->
			<!--</td>-->
			<!--<td>-->
			<!--<input class="form-control" [(ngModel)]="SearchCityEntity.Name" type="text" placeholder="Search..."-->
			<!--(keydown.enter)="Search(SearchCityEntity)">-->
			<!--</td>-->
			<!--<td>-->
			<!--<input class="form-control" [(ngModel)]="SearchCityEntity.Geography" type="text"-->
			<!--placeholder="Search..." (keydown.enter)="Search(SearchCityEntity)">-->
			<!--</td>-->
			<!--<td>-->
			<!--<input class="form-control" [(ngModel)]="SearchCityEntity.ZipCode" type="text"-->
			<!--placeholder="Search..." (keydown.enter)="Search(SearchCityEntity)">-->
			<!--</td>-->
			<!--<td style="text-align: center">-->
			<!--<button  type="button" class="btn btn-success btn-circle"><i-->
			<!--class="fa fa-plus fa-1x" aria-hidden="true"></i></button>-->
			<!--<button type="button" class="btn btn-success btn-circle"><i class="fa fa-download fa-1x"-->
			<!--aria-hidden="true"></i></button>-->
			<!--</td>-->
			<!--</tr>-->
			<tr *ngFor="let transaction of allTransactions; let i = index">
				<td class="text-center">{{i}}
					<!--{{PagingModel.Take * PagingModel.Active + i + 1}}-->
				</td>
				<td>
					{{transaction.transactionId}}
					<!--<span *ngIf="!City.IsEdit">{{City.Name}}</span>-->
					<!--<input class="form-control" [(ngModel)]="City.Name" type="text"-->
					<!--placeholder="Enter Name..." *ngIf="City.IsEdit">-->
				</td>
				<td>
					{{transaction.uid}}
					<!--<span *ngIf="!City.IsEdit">{{City.Name}}</span>-->
					<!--<input class="form-control" [(ngModel)]="City.Name" type="text"-->
					<!--placeholder="Enter Name..." *ngIf="City.IsEdit">-->
				</td>
				<td>{{transaction.timestamp| date: 'hh:mm:ss dd-MM-yyyy'}}
					<!--<span *ngIf="!City.IsEdit">{{City.Geography}}</span>-->
					<!--<input class="form-control" [(ngModel)]="City.Geography" type="text"-->
					<!--placeholder="Enter Geography..." *ngIf="City.IsEdit">-->
				</td>
				<!--<td style="text-align: center">-->
				<!--<div *ngIf="!City.IsEdit">-->
				<!--<button type="button" class="btn btn-primary btn-circle"-->
				<!--(click)="Edit(City)">-->
				<!--<i class="fa fa-edit fa-1x" aria-hidden="true"></i>-->
				<!--</button>-->
				<!--<button type="button" class="btn btn-danger btn-circle delete"-->
				<!--mwlConfirmationPopover [popoverTitle]="'Warning!'"-->
				<!--[popoverMessage]="'Delete action cannot be back!'"-->
				<!--placement="left" (confirm)="Delete(City)">-->
				<!--<i class="fa fa-trash fa-1x" aria-hidden="true"></i>-->
				<!--</button>-->
				<!--</div>-->
				<!--<div *ngIf="City.IsEdit">-->
				<!--<button type="button" class="btn btn-primary btn-circle"-->
				<!--(click)="Save(City)">-->
				<!--<i class="fa fa-save fa-1x" aria-hidden="true"></i>-->
				<!--</button>-->
				<!--<button type="button" class="btn btn-danger btn-circle delete"-->
				<!--(click)="Cancel(City)">-->
				<!--<i class="fa fa-times fa-1x" aria-hidden="true"></i>-->
				<!--</button>-->
				<!--</div>-->
				<!--</td>-->
			</tr>
			</tbody>
		</table>
	</div>
</div>
<!--<app-paging [PagingModel]="PagingModel" [dot]="true" (onChanges)="Search(SearchCityEntity,true)"></app-paging>-->
